.checkbox__wrapper {
  max-width: 167px;

  margin: 0 0 0 41px;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.checkbox__text {
  margin: 0 14px 0 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.checkbox__toggle {
  width: 36px;
  height: 20px;

  display: block;

  background-image: url('../../../images/search__toggle_disabled.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox__toggle.active {
  background-image: url('../../../images/search__toggle_active.svg')
}

@media screen and (max-width: 1040px) {
  .checkbox__wrapper {
    margin: 38px auto 0;
  }

  .checkbox__text {
    margin-right: 12px;
  }
}

@media screen and (max-width: 767px) {
.checkbox__wrapper {
    margin-top: 45px;
  }
}
