.movies-cards {
  width: 100%;

  margin: 0 auto;
  padding: 70px 0 30px;

  box-sizing: border-box;
}

.movies-cards__list {
  width: 100%;

  margin: 0;
  padding: 0;

  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(270px, 399px));*/
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  gap: 32px 20px;

  list-style: none;
}

@media screen and (max-width: 1040px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fill, 339px);
    gap:36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-cards {
    padding-top: 40px;
  }

  .movies-cards__list {
    grid-template-columns: repeat(auto-fill, 300px);
    gap:20px;
  }
}
