.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form__form {
  min-width: 396px;
  width: 100%;
  min-height: 70vh;

  margin:0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.auth-form__wrapper {
  width: 100%;
  box-sizing: border-box;
}

  @media screen and (max-width: 767px) {
  .auth-form {
    padding-left: 30px;
    padding-right: 30px;
  }

  .auth-form__form {
    min-width: 260px;
  }
}
