.movie__item {
  position: relative;
  overflow: hidden;

  border-radius: 10px;

  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);

  font-family: "Inter", Helvetica, sans-serif;
}

.movie__image {
  display: block;

  max-width: 399px;
  min-width: 270px;
  min-height: 151px;
  background-size: cover;
}

.movie__description {
  padding: 14px 14px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: var(--bg-dark-gray);
}

.movie__title {
  margin: 0 auto 10px 0;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.movie__duration {
  margin: 0;

  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  color: var(--tx-gray);
}

.movie__checkbox {
  width: 16px;
  height: 16px;

  padding: 0;
  margin: 0;

  border: 0;
  background: transparent;
  box-sizing: border-box;

  position: absolute;
  right: 12px;
  bottom: 37px;
}

.movie__like-checkbox {
  border: 2px solid var(--layout-white);
  border-radius: 16px;
  background: var(--bg-black-gray-1);
}

.movie__like-checkbox.active {
  background: var(--bg-light-green);
}

.movie__delete-button {
  border: 0;
  border-radius: 0;

  background-image: url('../../../images/movie_delete_button.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1040px) {
  .movie__image {
    min-height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movie__image {
    min-height: 168px;
  }
}
