:root {
    /* background colors */
    --bg-black-gray: #202020;
    --bg-black-gray-1: #313131;
    --bg-dark-gray: #222222;
    --bg-gray: #272727;
    --bg-medium-gray: #2F2F2F;
    --bg-light-gray: #303030;
    --bg-lighter-gray: #F8F8F8;
    --bg-dark-turquose: #073042;
    --bg-light-green: #3DDC84;
    --bg-blue: #4285F4;

    /* text colors */
    --tx-white: #FFFFFF;
    --tx-red: #EE3465;
    --tx-gray: #8B8B8B;
    --tx-gray-80: #8B8B8BCC;
    --tx-gray1: #A0A0A0;
    --tx-gray-2: #C2C2C2;
    --tx-black: #000000;
    --tx-blue: #4285F4;

    /* layout colors */
    --layout-grey: #AAAAAA;
    --layout-white: #FFFFFF;
    --layuot-light-grey: #DADADA;
    --layout-dark-grey: #424242;
    --layout-grey-80: #AAAAAACC;

    /*  thresholds  */
    --laptop-threshold: 1280px;
    --tablet-threshold: 1279px;
    --mobile-threshold: 767px;
}
